footer{
  background-color: #232323;
  color: white;
}

img {
  height: 50px;
  width: 50px;
}

p{
  margin-bottom: 0px;
}

#nestjs{
  height: 40px;
  width: 40px;
  margin: 2px 7px 2px 0px;
}

#github{
  height: 40px;
  width: 40px;
}
