<mat-sidenav-container>
  <mat-sidenav mode="side" closed>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let category of categories" (click)="onCategory(category)">
        {{ category }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="mainService.showClass.value ? 'p-l-15' : ''">
    <h2 *ngIf="!products" class="text-center mt-5">please select a category.</h2>

    <div *ngIf="products">

      <div class="d-flex justify-content-around flex-wrap">
        <div *ngFor="let product of products" class="card-container">
          <div class="card">
            <div class="card-header">
              <h5>{{product.productName}} {{product.productType}}</h5>
            </div>
            <a href="{{ product.url }}" target="_blank">
              <img src="assets/{{product.category}}/{{product.productType}}.png">
            </a>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><p class="d-inline-block">Store:</p><span>{{product.storeName}}</span></li>
              <li class="list-group-item"><p class="d-inline-block">Status:</p>
                <span *ngIf="product.isDiscount" class="badge badge-success">Discount</span>
                <div *ngIf="!product.isDiscount" style="display:inline-block;">
                  <span *ngIf="product.isAvailable" class="badge badge-primary">Available</span>
                  <span *ngIf="product.isAvailable === false" class="badge badge-danger">Not Available</span>
                  <span *ngIf="product.isAvailable === undefined || product.isAvailable === null" class="badge badge-warning">Unknown</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
