<mat-sidenav-container>
  <mat-sidenav mode="side" closed>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let category of categories" (click)="onCategory(category)">
        {{ category }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="mainService.showClass.value ? 'p-l-15' : ''">
    <h2 *ngIf="!products" class="text-center">please select a category.</h2>

    <div *ngIf="products">

      <div class="d-flex justify-content-around flex-wrap">
        <div *ngFor="let product of products" class="card-container">
          <div class="card">
            <div class="card-header">
              <h5>{{product.productName}} {{product.productType}}</h5>
            </div>
            <img src="assets/{{product.category}}/{{product.productType}}.png">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><p>Store:</p> <span>{{product.storeName}}</span></li>
              <li class="list-group-item">Discount: {{product.isDiscount}}</li>
              <li class="list-group-item">Availability: {{product.isAvailable}}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
